{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'list_posts/style.css' %}" />

<h2>Post with id {{post.id}}</h2>

<p>{{post.post_text}}</p>

<p><strong>Results:</strong> {{post.up_votes}} Up vote{{post.up_votes|pluralize}} --
  {{post.down_votes}} Down vote{{post.down_votes|pluralize}} with a score of {{post.score}}</p>

{% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}

<form action="{% url 'list_posts:vote' post.id %}" method="post">
  {% csrf_token %}
  <input type="radio" name="vote" id="upvote" value="upvote" />
  <label for="upvote">Up Vote</label>
  <br />
  <br />
  <input type="radio" name="vote" id="downvote" value="downvote" />
  <label for="downvote">Down Vote</label>
  <br />
  <br />
  <button type="submit" name="submit_vote" value="vote_btn">Vote</button>
</form>
<a href="{% url 'list_posts:index' %}">Go home?</a>
